<h6 *ngIf="message_auth">{{message_auth}} <a [routerLink]="['/login']">connexion</a></h6>
<div class="container mt-5" *ngIf="!message_auth">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow-lg">
                <div class="card-body p-5">
                    <h5 class="text-center mb-4">modifier le post </h5>
                    <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && editPost()">
                        <div class="mb-3">
                            <label for="title" class="form-label">titre du post</label>
                            <input type="text" name="title" class="form-control" id="title" [(ngModel)]="post.title"
                                #title="ngModel" required>
                            <div class="form_errors" *ngIf="title.errors && f.submitted">titre requis</div>


                        </div>
                        <div class="mb-3">
                            <label for="message" class="form-label">contenu</label>
                            <textarea name="message" class="form-control" id="message" [(ngModel)]="post.message"
                                #message="ngModel" required></textarea>
                            <div class="form_errors" *ngIf="message.errors && f.submitted">contenu requis</div>
                        </div>

                        <button type="submit" class="btn btn-primary w-40 mb-3 me-2"><i
                                class="bi bi-plus-circle-fill"></i> Valider</button>
                        <button type="button" (click)="onReturnPost()" class="btn btn-danger w-40 mb-3 ml-3  "> <i
                                class="bi bi-x-circle-fill"></i>annuler</button>
                        <hr class="my-4">

                        <!-- Message de confirmation d'inscription -->
                        <div class="alert alert-success mt-3" *ngIf="modificationValide">
                            post modifié !
                            <a (click)="onReturnPost()" class="alert-link">Retour à la liste des posts </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>